<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Giriş Yap 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item>
      <ion-input label="Eposta" labelPlacement="floating" placeholder="Eposta giriniz"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Şifre" labelPlacement="floating" type="password" placeholder="Şifre giriniz"></ion-input>
    </ion-item>

    <div class="wrapper">
      <div class="ion-activatable ripple-parent rounded-rectangle primary-button">
        Giriş Yap
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="ion-activatable ripple-parent rounded-rectangle secondary-button" (click)="navigateToRegister()">
        Kayıt Ol
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
  </div>


  <div>
    <ion-list>
      <ion-item *ngFor="let user of users">
        <ion-avatar slot="start">
          <img [src]="user.avatar" alt="Avatar" />
        </ion-avatar>
        <ion-label>
          <h2>{{ user.first_name }} {{ user.last_name }}</h2>
          <p>{{ user.email }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
